Repository gemini-hlsw/navigate-server, pull requests merged in 2022-11, with the labels that each got.

#186 Adapted to new cats-effect Dispatcher.
  modules/epics/src/test/scala/engage/epics/ChannelSpec.scala
  modules/epics/src/test/scala/engage/epics/EpicsServiceSpec.scala
  modules/epics/src/test/scala/engage/epics/VerifiedEpicsSpec.scala
  modules/web/server/src/main/scala/engage/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
Labels: epics, server

#179 Scala 3
  .github/workflows/ci.yml
  .mergify.yml
  .scalafix.conf
  build.sbt
  modules/epics/src/main/scala/engage/epics/Channel.scala
  modules/epics/src/main/scala/engage/epics/EpicsService.scala
  modules/epics/src/main/scala/engage/epics/RemoteChannel.scala
  modules/epics/src/test/scala/engage/epics/TestEnumerated.scala
  modules/model/jvm/src/main/scala/engage/model/config/ControlStrategy.scala
  modules/model/jvm/src/main/scala/engage/model/config/Mode.scala
  modules/model/shared/src/main/scala/engage/model/enums/DomeMode.scala
  modules/model/shared/src/main/scala/engage/model/enums/ServerLogLevel.scala
  modules/model/shared/src/main/scala/engage/model/enums/ShutterMode.scala
  modules/server/src/main/scala/engage/server/ApplyCommandResult.scala
  modules/server/src/main/scala/engage/server/EngageEngine.scala
  modules/server/src/main/scala/engage/server/acm/ApplyRecord.scala
  modules/server/src/main/scala/engage/server/acm/CadDirective.scala
  modules/server/src/main/scala/engage/server/acm/CarRecord.scala
  modules/server/src/main/scala/engage/server/acm/CarState.scala
  modules/server/src/main/scala/engage/server/epicsdata/BinaryOnOff.scala
  modules/server/src/main/scala/engage/server/epicsdata/BinaryYesNo.scala
  modules/server/src/main/scala/engage/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/engage/server/tcs/TcsEpicsSystem.scala
  modules/web/client/src/main/scala/engage/web/client/components/EngageMain.scala
  modules/web/client/src/main/scala/engage/web/client/components/EngageUI.scala
  modules/web/client/src/main/scala/engage/web/client/model/Pages.scala
  modules/web/server/src/main/scala/engage/web/server/config/package.scala
  modules/web/server/src/main/scala/engage/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/main/scala/engage/web/server/security/package.scala
  project/Settings.scala
Labels: client, epics, model, server

#190 Json auth
  .scalafmt.conf
  build.sbt
  modules/model/jvm/src/main/scala/engage/model/config/AuthenticationConfig.scala
  modules/model/jvm/src/main/scala/engage/model/config/EngageConfiguration.scala
  modules/model/jvm/src/main/scala/engage/model/config/WebServerConfiguration.scala
  modules/model/shared/src/main/scala/engage/model/boopickle/ModelBooPicklers.scala
  modules/model/shared/src/main/scala/engage/model/security/package.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/engage/web/server/config/package.scala
  modules/web/server/src/main/scala/engage/web/server/http4s/EngageUIApiRoutes.scala
  modules/web/server/src/main/scala/engage/web/server/http4s/encoder/BooEncoders.scala
  modules/web/server/src/main/scala/engage/web/server/http4s/encoder/package.scala
  modules/web/server/src/main/scala/engage/web/server/security/package.scala
Labels: model, server
