Repository gemini-hlsw/navigate-server, pull requests merged in 2023-12, with the labels that each got.

#483 All-in-one deployment
  .gitignore
  README.md
  app/navigate-server/src/main/resources/conf/app.conf
  app/navigate-server/src/main/resources/systemd/navigate-server.env
  app/navigate-server/src/main/resources/systemd/navigate-server.service
  build.sbt
  modules/web/server/src/main/scala/navigate/web/server/common/LogInitialization.scala
  modules/web/server/src/main/scala/navigate/web/server/common/StaticRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/common/package.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
  project/AppsCommon.scala
Labels: server, navigate-server

#486 Adjustments for package deployment
  app/navigate-server/src/main/resources/conf/app.conf
  build.sbt
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Labels: server, navigate-server

#494 Add proxy functionality. Re-enable local conf.
  app/navigate-server/src/main/resources/conf/app.conf
  modules/model/jvm/src/main/scala/navigate/model/config/WebServerConfiguration.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/navigate/web/server/http4s/ProxyBuilder.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Labels: model, server, navigate-server

#497 Removed target id from oiwfs target in schema.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
  project/Settings.scala
Labels: server
