Repository gemini-hlsw/navigate-server, pull requests merged in 2024-03, with the labels that each got.

#542 Update to scala 3.4.0
  build.sbt
  modules/epics/src/main/scala/navigate/epics/EpicsService.scala
  modules/schema-util/src/main/scala/edu/gemini/schema/util/SchemaStitcher.scala
  modules/web/server/src/main/scala/navigate/web/server/common/StaticRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Labels: epics, server, schema-util

#551 Send guide configuration to observe
  build.sbt
  deploy/navigate-server/src/main/resources/conf/app.conf
  modules/model/src/main/scala/navigate/model/config/NavigateEngineConfiguration.scala
  modules/model/src/main/scala/navigate/model/config/SystemsControlConfiguration.scala
  modules/model/src/main/scala/navigate/model/enums/M1Source.scala
  modules/model/src/main/scala/navigate/model/enums/TipTiltSource.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/server/src/main/scala/navigate/server/tcs/GuideState.scala
  modules/server/src/main/scala/navigate/server/tcs/M1GuideConfig.scala
  modules/server/src/main/scala/navigate/server/tcs/M2GuideConfig.scala
  modules/server/src/main/scala/navigate/server/tcs/ProbeGuide.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TelescopeGuideConfig.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
  project/Settings.scala
Labels: model, server, navigate-server

#558 Implemented WFS state in API.
  modules/server/src/main/scala/navigate/server/tcs/GuideState.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerSim.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsTest.scala
Labels: server
