Repository gemini-hlsw/navigate-server, pull requests merged in 2024-06, with the labels that each got.

#587 Do not bundle UI files into docker image
  .github/workflows/ci.yml
  .mergify.yml
  README.md
  build.sbt
  deploy/src/main/resources/conf/app.conf
  deploy/src/main/resources/dist/index.html
  deploy/src/main/resources/systemd/navigate-server.env
  deploy/src/main/resources/systemd/navigate-server.service
  modules/web/server/src/main/scala/navigate/web/server/common/StaticRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/common/package.scala
Labels: server, navigate-server

#606 Enable TLS and its local configuration in deploy servers
  README.md
  deploy/navigate-server/src/main/resources/conf/local/app.conf
  deploy/navigate-server/src/main/resources/conf/local/cacerts.jks.dev
  modules/model/src/main/scala/navigate/model/config/WebServerConfiguration.scala
  modules/web/server/src/main/scala/navigate/web/server/config/package.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Labels: model, server, navigate-server, deploy

#605 Update GuideConfig
  .github/workflows/ci.yml
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  project/Settings.scala
Labels: server

#616 OIWFS signal processing setup
  modules/epics/src/main/scala/navigate/epics/VerifiedEpics.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/package.scala
  modules/server/src/test/scala/navigate/server/TestEpicsCommands.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestWfsEpicsSystem.scala
  modules/stateengine/src/main/scala/navigate/stateengine/Handler.scala
Labels: epics, server, stateengine
