Repository gemini-hlsw/navigate-server, pull requests merged in 2025-03, with the labels that each got.

#850 Keep last 30 log messages buffered to send to logMessage subscription start
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Labels: server

#862 Sc 3288 implement entry point for gacq
  modules/epics/src/main/scala/navigate/epics/EpicsSystem.scala
  modules/epics/src/main/scala/navigate/epics/TestChannel.scala
  modules/epics/src/main/scala/navigate/epics/VerifiedEpics.scala
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/Systems.scala
  modules/server/src/main/scala/navigate/server/acm/GeminiApplyCommand.scala
  modules/server/src/main/scala/navigate/server/acm/ParameterList.scala
  modules/server/src/main/scala/navigate/server/tcs/AcquisitionCameraEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/CrcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/McsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/OiwfsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/ReferenceFrame.scala
  modules/server/src/main/scala/navigate/server/tcs/ScsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/VirtualTelescope.scala
  modules/server/src/main/scala/navigate/server/tcs/WfsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAcquisitionCameraEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAgsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestCrcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestMcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestOiwfsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestScsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestWfsEpicsSystem.scala
  modules/web/server/src/main/scala/navigate/web/server/common/StaticRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/ClientsSetDb.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/ProxyBuilder.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
  project/plugins.sbt
Labels: epics, model, server

#864 Remove legacy instrument references and add check for schema changes
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/package.scala
  modules/web/server/src/main/resources/NewTCC.graphql
  project/Settings.scala
Labels: server, expected-breaking-change

#867 Add entry point in navigate api for gacq
  .graphqlrc.json
  build.sbt
  flake.nix
  gacqgraphql.sh
  modules/model/src/main/scala/navigate/model/AcquisitionAdjustment.scala
  modules/model/src/main/scala/navigate/model/enums/AcquisitionAdjustmentCommand.scala
  modules/schema-util/src/test/scala/edu/gemini/schema/util/SchemaStitcherTest.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/ClientsSetDb.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Labels: model, server, schema-util

#869 Add User Cancels command
  modules/model/src/main/scala/navigate/model/enums/AcquisitionAdjustmentCommand.scala
  modules/web/server/src/main/resources/navigate.graphql
Labels: model, server
