Repository gemini-hlsw/navigate-server, pull requests merged in 2025-07, with the labels that each got.

#966 Fix site configurations
  deploy/conf/production-gn/site.conf
  deploy/conf/production-gs/site.conf
  deploy/conf/staging-gn/site.conf
  deploy/conf/staging-gs/site.conf
Labels: deploy

#968 fix dev sso url
  modules/web/server/src/main/resources/base.conf
Labels: server

#971 SC-4687 Disable all tracking before applying new target configuration.
  modules/model/src/main/scala/navigate/model/Distance.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Labels: model, server

#973 SC-6117 Fixed definition of coma selection channel.
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
Labels: server

#979 SC-6180 Fixed RA/Dec offset decoding in backend.
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Labels: server

#982 SC-6186 Adjusted angle calculation for the different alignments.
  build.sbt
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Labels: server

#992 SC-6253 Fixed use of wrong conversion of Angle to arcseconds value.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Labels: server

#1000 SC-6259 Improved commands log formating.
  modules/model/src/main/scala/navigate/model/GuiderConfig.scala
  modules/model/src/main/scala/navigate/model/HandsetAdjustment.scala
  modules/model/src/main/scala/navigate/model/InstrumentSpecifics.scala
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
  modules/model/src/main/scala/navigate/model/Origin.scala
  modules/model/src/main/scala/navigate/model/RotatorTrackConfig.scala
  modules/model/src/main/scala/navigate/model/RotatorTrackingMode.scala
  modules/model/src/main/scala/navigate/model/SlewOptions.scala
  modules/model/src/main/scala/navigate/model/SwapConfig.scala
  modules/model/src/main/scala/navigate/model/Target.scala
  modules/model/src/main/scala/navigate/model/TcsConfig.scala
  modules/model/src/main/scala/navigate/model/TrackingConfig.scala
  modules/model/src/main/scala/navigate/model/package.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/SlewConfig.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Labels: model, server
