Repository gemini-hlsw/navigate-server, pull requests merged in 2025-05, with the labels that each got.

#910 SC-4830 Added target azimuth/elevation to API
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Labels: server

#905 Log behavior changed for production server
  modules/web/server/src/main/resources/logback.xml
Labels: server

#916 Fix tops overrides
  deploy/conf/production-gn/site.conf
  deploy/conf/production-gs/site.conf
  deploy/conf/staging-gn/site.conf
  deploy/conf/staging-gs/site.conf
Labels: deploy

#917 Changed env used to check if production environment
  modules/web/server/src/main/resources/logback.xml
Labels: server

#918 Updated EPICS address list for GN.
  deploy/conf/staging-gn/site.conf
Labels: deploy

#921 Reverting port and host override, set in base conf
  deploy/conf/staging-gn/site.conf
  deploy/conf/staging-gs/site.conf
  modules/web/server/src/main/resources/base.conf
Labels: server, deploy

#922 Remove dependency on sonatype navigate-ui
  build.sbt
  modules/web/server/src/main/resources/base.conf
  modules/web/server/src/main/scala/navigate/web/server/common/StaticRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
Labels: server

#923 WFS Sky implemented in backend
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TrackingConfig.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Labels: model, server

#925 SC-4685 Fixed centroid value decoding.
  modules/server/src/main/scala/navigate/server/tcs/WfsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Labels: server

#926 SC-4215 Avoid reconfiguring AO when in the right position.
  modules/server/src/main/scala/navigate/server/epicsdata/AgMechPosition.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/ScienceFold.scala
  modules/server/src/main/scala/navigate/server/tcs/ScienceFoldPositionCodex.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAgsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Labels: server

#928 SC-5063 Removed references to non-existent AO tracking channels.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
Labels: server

#929 SC-5063 Fixed target filter command.
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Labels: server

#930 SC-3259 Server GraphQL API for handsets.
  modules/server/src/main/scala/navigate/server/tcs/FocalPlaneOffset.scala
  modules/server/src/main/scala/navigate/server/tcs/HandsetAdjustment.scala
  modules/server/src/main/scala/navigate/server/tcs/TargetOffsets.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Labels: server

#934 Fine-tune configurations
  README.md
  deploy/conf/production-gn/site.conf
  deploy/conf/production-gs/site.conf
  deploy/conf/staging-gn/site.conf
  deploy/conf/staging-gs/site.conf
Labels: deploy

#933 Fixes for OIWFS sky command
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Labels: server
