Repository gemini-hlsw/navigate-server, pull requests merged in 2025-04, with the labels that each got.

#868 Switch to Http4s Ember server
  modules/model/src/main/scala/navigate/model/config/WebServerConfiguration.scala
  modules/web/server/src/main/scala/navigate/web/server/config/package.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
Labels: model, server

#879 Conf for deployment
  deploy/src/main/resources/conf/app.conf
  modules/web/server/src/main/resources/app.conf
Labels: server, deploy

#881 Print more info on startup
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
Labels: server

#880 Add an obsId parameter for slew, and add a slew event if passed
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/web/server/src/main/resources/app.conf
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Labels: server

#890 Suppor overriding the odb and observe urls with env variables
  deploy/src/main/resources/conf/app.conf
  modules/web/server/src/main/resources/app.conf
Labels: server, deploy

#889 Read frontend version and print in startup
  modules/schema-util/src/main/scala/edu/gemini/schema/util/SourceResolver.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  project/Settings.scala
Labels: server, schema-util

#900 SC-5265 Fixed minor bug in gacq application.
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/NavigateEngineSpec.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Labels: server

#904 Added debug information when applying GACQ.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsNorthControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsSouthControllerEpics.scala
  modules/server/src/test/scala/navigate/server/NavigateEngineSpec.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
Labels: server

#908 SC-5265 Increased GACQ offset timeout.
  modules/schema-util/src/main/scala/edu/gemini/schema/util/SchemaStitcher.scala
  modules/schema-util/src/main/scala/edu/gemini/schema/util/SourceResolver.scala
  modules/schema-util/src/main/scala/edu/gemini/schema/util/package.scala
  modules/schema-util/src/test/scala/edu/gemini/schema/util/SchemaStitcherTest.scala
  modules/server/src/clue/scala/navigate/queries/ObsQueriesGQL.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
Labels: server, schema-util
