Repository gemini-hlsw/navigate-server, pull requests merged in 2025-09, with the labels that each got.

#1048 Sc 6539 pwfs components control
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
  modules/model/src/main/scala/navigate/model/PwfsMechsState.scala
  modules/model/src/main/scala/navigate/model/enums/PwfsFieldStop.scala
  modules/model/src/main/scala/navigate/model/enums/PwfsFilter.scala
  modules/server/src/main/scala/navigate/server/NavigateEngine.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/AgsEpicsSystem.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseController.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerSim.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsChannels.scala
  modules/server/src/main/scala/navigate/server/tcs/TcsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
  modules/server/src/test/scala/navigate/server/tcs/TestAgsEpicsSystem.scala
  modules/server/src/test/scala/navigate/server/tcs/TestTcsEpicsSystem.scala
  modules/web/server/src/main/resources/navigate.graphql
  modules/web/server/src/main/scala/navigate/web/server/http4s/GraphQlRoutes.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/NavigateMappings.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/WebServerLauncher.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/encoder/package.scala
  modules/web/server/src/test/scala/navigate/web/server/http4s/NavigateMappingsSuite.scala
Labels: model, server

#1092 Clearer poll error logging
  modules/epics/src/main/scala/navigate/epics/Channel.scala
  modules/epics/src/main/scala/navigate/epics/EpicsService.scala
  modules/server/src/main/scala/navigate/server/CaServiceInit.scala
  modules/web/server/src/main/scala/navigate/web/server/http4s/TopicManager.scala
Labels: epics, server

#1097 SC-6867 Apply origin offset to all three virtual telescopes.
  modules/server/src/main/scala/navigate/server/tcs/TcsBaseControllerEpics.scala
  modules/server/src/test/scala/navigate/server/tcs/TcsBaseControllerEpicsSuite.scala
Labels: server

#1101 SC-6884 Fixed EPICS values for AC filters.
  modules/model/src/main/scala/navigate/model/enums/AcFilter.scala
Labels: model, server

#1105 SC-6896 Expanded log message for AC mechanism commands.
  modules/model/src/main/scala/navigate/model/NavigateCommand.scala
Labels: model, server
